#mandel {
    margin: 10px;
}

.columns {
    margin: 15px;
    display: flex;

    div > p {
        width: 30vw;
        margin-left: 20px;
    }
    .mouseover-mandel {
        height: 400px;
        width: 400px;
        border: 2px black solid;
        * {
            height: 400px;
            width: 400px;
            box-sizing: content-box;
        }
    }
    .mouse-location {
        background-color: aqua;
        height: 20px;
        padding: 5px 0px;
    }
}

form {
    margin: 5px;
    * {
        margin: 0px 2px;
    }
    label {
        margin-left: 5px;
    }
}
